@media screen and (min-width: 428px) {

    .header-cnt {
        margin: 0 auto;
        width: 396px;
    }

    .subscribe-label {
        width: 396px;
    }

    .container {
        width: 396px;
        padding: 0;
    }

    .modal {
        width: 392px;
    }

    .menu-address-phone {
        font-size: 36px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 582px;
        padding: 0;
    }

    /* --------HEADER-------- */

    .logo {
        margin-right: 76px;
    }

    .menu-open-btn {
        display: none;
    }

    .header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        align-items: center;
    }

    .logo-span {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .h-span {
        color: #2E2F42;
    }

    .header-cnt {
        width: 736px;
        padding: 0;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: var(--typical-lh);
        letter-spacing: 0.02em;
        color: var(--title-color);
        padding: 24px 0;
    }

    .header-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        border-radius: 2px;
        transform: scaleX(0);
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        transform-origin: right;
    }

    .header-link:hover::after,
    .header-link:focus::after,
    .header-link.current::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .header-link:is(:hover, :focus),
    .header-link.current {
        color: #404BBF;
    }

    .header-address {
        font-style: normal;
        display: flex;
        flex-direction: column;
        margin-left: 121px;
        padding: 16px 0;
    }

    .header-address-item {
        position: relative;
    }

    .header-address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    /* --------HERO-------- */

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-tab-1.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bg-tab-2.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        min-width: 496px;
    }

    .hero-btn {
        margin-top: 36px;
    }

    /* --------BENEFITS-------- */

    .benefits-list {
        display: flex;
        gap: 24px;
    }

    .benefits>.container {
        min-width: 736px;
    }

    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-item-title {
        text-align: left;
    }

    .benefits-item-text {
        text-align: left;
    }

    /* --------TEAM-------- */

    .team {
        padding: 120px 0;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    /* --------CUSTOMERS-------- */

    .customers-list {
        column-gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }

    /* --------FOOTER-------- */


    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: start;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-logo-container {
        text-align: left;
    }

    .soc-title {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
    }

    .subscribe-label {
        width: 264px;
    }

    .modal {
        width: 408px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1128px;
        padding: 0;
    }

    /* --------HEADER-------- */

    .logo {
        margin-right: 76px;
    }

    .header-cnt {
        width: 1128px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: var(--typical-lh);
        letter-spacing: 0.02em;
        color: var(--title-color);
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        border-radius: 2px;
        transform: scaleX(0);
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        transform-origin: right;
    }

    .header-link:hover::after,
    .header-link:focus::after,
    .header-link.current::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .header-link:is(:hover, :focus),
    .header-link.current {
        color: #404BBF;
    }

    .header-address {
        font-style: normal;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .header-address-list {
        display: flex;
        gap: 40px;
    }

    .header-address-item {
        position: relative;
        padding: 24px 0;
    }

    .header-address-link {
        font-size: 16px;
        line-height: var(--typical-lh);
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        transform: scaleX(0);
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        transform-origin: right;
    }

    .header-address-link:hover::after,
    .header-address-link:focus::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .header-address-link:is(:hover, :focus) {
        color: #404BBF;
    }

    /* --------HERO-------- */

    .hero {
        background-image: linear-gradient (rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-1.jpg);
        padding: 188px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bg-2.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        min-width: 496px;
    }

    .hero-btn {
        margin-top: 48px;
    }

    /* --------BENEFITS-------- */

    .benefits {
        padding: 120px 0;
    }

    .benefits-container {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--icons-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .benefits-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        margin: 0 auto;
    }

    .benefits-item {
        max-width: 264px;
    }

    .benefits-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
        text-align: left;
    }

    .text {
        font-weight: 400;
    }

    .benefits-item-text {
        text-align: left;
    }

    /* --------WORKS-------- */

    .works {
        display: flex;
        padding-bottom: 120px;
    }

    .works-title {
        margin-bottom: 72px;
    }

    .works-list {
        display: flex;
        gap: 24px;
    }

    /* --------TEAM-------- */

    .team {
        padding: 120px 0;
    }

    /* --------CUSOMERS-------- */

    .customers-list {
        flex-wrap: nowrap;
        column-gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
    }

    /* --------FOOTER-------- */

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: start;
        gap: 0;
    }

    .footer-logo-container {
        text-align: left;
        margin-right: 120px
    }

    .soc-title {
        text-align: left;
    }

    .subscribe {
        margin-left: 80px;
    }

    .subscribe-form {
        flex-direction: row;
    }

    .subscribe-label {
        width: 264px;
    }

    .subscribe-input {
        opacity: 1;
    }

    .subscribe-input::placeholder {
        opacity: 1;
    }

    .subscribe-btn {
        margin-left: 24px;
    }

    /* --------MODAL-------- */

    .modal-input:focus {
        border-color: #4D5AE5;
    }

    .modal-input:focus+.modal-icon {
        fill: #4D5AE5;
    }
}